table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 36;
    border: 1px solid black;
}

thead:last-child {
    border-bottom: 3px double black;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
    text-align: center;
}