<h1>OPC Doc Generation Service</h1>

<div id="plugin-container" style="display:flex;flex-direction: column;margin-left:20%; margin-right:20%;">
  <div id="form-container">
    <form (ngSubmit)="onSubmit()">
      <label for="targetspec">Target Specification: </label>
      <input type="text" name="targetspec" id="targetspec" placeholder="http://opcfoundation.org/UA/"
        [(ngModel)]="formData.targetspec" />
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="rendered-content" [innerHtml]="rendered_view">

  </div>

</div>